a {
    color: #0254EB
}
a:visited {
    color: #0254EB
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}
#tabs-facebook_events thead th {
    width: 55px !important;
}
#tabs-facebook_posts thead th {
    width: 45px !important;
}
#tabs-contacts thead th {
    width: 30px !important;
}