<div class="LoginRadius_overlay LoginRadius_content_IE">
    <div class="popupmain">
        <form id="lr-popup-form" method="post" action="">
            <div class="lr-popupheading">Please fill the following details to proceed</div>
            <div id="popupinner">

                {% if popup_params.msgtype == 'warning' %}
                    <div id="loginRadiusError" class="lr-error">
                        {{ popup_params.msg }}
                    </div>

                {% else %}
                    <div class="lr-noerror">
                        {{ popup_params.msg }}
                    </div>

                {% endif %}
                <div class="emailtext" id="innerp">Enter your email:</div>
                <div><input type="text" name="email" id="email"
                            class="inputtxt"/></div>
            </div>
            <div class="lr-popup-footer">
                <input type="submit" name="lr_emailclick" id="lr_emailclick"
                       value="Submit" class="button colorless"/>
                <input type="submit" name="lr_emailclick_cancel"
                       id="lr_emailclick_cancel" value="Cancel"
                       class="button colorless"/>
            </div>
        </form>
    </div>
</div>
