body.path-user{ background:#fff; }

#login_box  {
  width: 25%;
  margin: 0 auto;
  padding: 50px 0 0;
  font-family: sans-serif;
}
#regi_box {
width: 30%;
  margin: 0 auto;
  padding: 50px 0 0;
  font-family: sans-serif;
	
}

#login_box h1#the_logo ,#regi_box h1#the_logo{
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}

#login_box h2.title , #regi_box h2.title{
  margin: 0;
  padding: 0 0 15px;
  font-size: 2em;
}

#login_box input[type="text"], 
#login_box input[type="password"]  {
  width: auto;
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
}

#login_box input[type="submit"] , #regi_box input[type="submit"]{
  float: right;
}

#login_box #login_main_part , #regi_box #regi_main_part{
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #ccc;
}

#login_box .back_link {
  padding: 15px 0 0;
}

#login_box #login_bottom_part ,#regi_box #regi_bottom_part{
  font-size: 13px;
  padding: 15px 0 0;
}
