.main-menu {
background-color: blue;
}

.main-header{
display:flex;    
align-items:flex-start;
}


}
.field__label{
    font-style: italic;
}
p {
    font-style: italic;
    margin-top: 20px;
    font-family: mali;
    font-size: 1.5em;
}

.main-header{
    background-color: rgb(226, 147, 43);
    

}
.site-branding_logo .img{
    width: 100%;
    height: auto;
    align-content: center;
}

.navbar-header{
    margin-left: 42em;
}
.brand a{
    color: rgb(226, 147, 43);
}
