.main-menu {
background-color: blue;
}

.main-header{
display:flex;    
align-items:flex-start;
}

img{
    float: right;
}
.field__label{
    font-style: italic;
}
p {
    font-style: italic;
    margin-top: 20px;
    font-family: mali;
    font-size: 1.5em;
}