{{ attach_library('userregistration/drupal.loading') }}
<div class="overlay" id="lr-loading" style="display: none;">
  <div class="circle">
    <div id="imganimation">
      <img src="{{image_path}}" alt="LoginRadius Processing"
           style="margin-top: -66px;margin-left: -73px;width: 150px;">
    </div>
  </div>
  <div></div>
</div>