
{% if api_key   %}


{% include 'lr_message.html.twig' %}
 
 
  <script>
    jQuery(document).ready(function () {
      initializeLoginRaasForm();
      initializeSocialRegisterRaasForm();
     
    });
  </script>

  <label>{{ interface_label }}</label>

  <div>
  {% include 'raas_social_widget_container.html.twig' %}
    
   
  </div>
  <div class="raas-lr-form my-form-wrapper">
    <div id="login-container"></div>
    <div id="resetpassword-container" style="display: none"></div>
      {% include 'lr_loading.html.twig' %} 
       {% include 'lr_raas_popup.html.twig' %}
  </div>

{% endif %}
