
{% if api_key   %}


{% include 'lr_message.html.twig' %}
 
  <script>
    jQuery(document).ready(function () {
      initializeForgotPasswordRaasForms();
    });
  </script>
  <div class="raas-lr-form my-form-wrapper">
    <div id="forgotpassword-container"></div>
  </div>
{% endif %}