{% if admin_access %}
{% if api_key   %}
{% include 'lr_message.html.twig' %}
    <script>
      jQuery(document).ready(function () {
       initializeRegisterRaasForm();
        initializeSocialRegisterRaasForm();
          var isClear = 1;
          var formIntval;
        setTimeout(show_birthdate_date_block, 1000);
          formIntval = setInterval(function(){ jQuery('#lr-loading').hide();
             if (isClear > 0) {
                 clearInterval(formIntval);
             }
         }, 1000);
      });
    </script>
    
  <label>{{ interface_label }}</label>
     {% include 'raas_social_widget_container.html.twig' %}
    <div class="raas-lr-form my-form-wrapper">
      <div id="registeration-container"></div>
      {% include 'lr_loading.html.twig' %} 
       {% include 'lr_raas_popup.html.twig' %}
    </div>
{% endif %}
{% else %}
{{ rendered }}

{% endif %}
